<%- include('../partials/header') %>

    <% if (flights.length > 0) { %>
        <table style="width:100%">
            <tr>
                <th>Airline</th>
                <th>Flight #</th>
                <th>Departing</th>
                <th>Airport</th>
            </tr>
            <% flights.forEach(function(flight) { %>
                <tr>
                    <td>
                        <%= flight.airline %>
                    </td>
                    <td>
                        <%= flight.flightNo %>
                    </td>
                    <td>
                        <%= flight.departs %>
                    </td>
                    <td>
                        <%= flight.airport %>
                    </td>
                    <!-- <td><%= new Date(flight.createdAt).toDateString() %></td> -->
                    <td><a href="/flights/<%=flight._id%>">Details</a></td>
                    <td>
                        <form action="/flights/<%=flight._id%>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </td>
                </tr>
                <%})%>
        </table>
        <% } else {%>
            <h1>No Flights Available Yet</h1>
            <% } %>
                <%- include('../partials/footer') %>